.content-accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 25%;

}

.btn_user {
    width: 110px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    box-shadow: 5px 5px 5px #cfcfcf;
}
.btn_user a {
    color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font: bold;
    font-variant: small-caps;
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 260px;
    height: 45px;
    margin-right: 54px;
}
  
 .switch input { 
    position: absolute;
    z-index: 5;
    left: 24%;
    opacity: 0;
    width: 100px;
} 
.slider {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: #a5a39d;
    border-radius: 40px;
    box-shadow:
        inset 0 3px 8px 1px rgba(0,0,0,0.2),
        0 1px 0 rgba(255,255,255,0.5);
}
.slider:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    border-radius: inherit;
    background: #ccc; /* Fallback */
    background: linear-gradient(#f2f2f2, #ababab);
    box-shadow: 0 0 10px rgba(0,0,0,0.3),
        0 1px 1px rgba(0,0,0,0.25);
}
.slider:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -18px; right: -18px; bottom: -18px; left: -18px;
    border-radius: inherit;
    background: #eee; /* Fallback */
    background: linear-gradient(#e5e7e6, #eee);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -webkit-filter: blur(1px); /* Smooth trick */
    filter: blur(1px); /* Future-proof */
}
.slider i {
    display: block;
    height: 100%;
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: inherit;
    background: #b2ac9e; /* Fallback */
    background: linear-gradient(#f7f2f6, #b2ac9e);
    box-shadow:
        inset 0 1px 0 white,
        0 0 8px rgba(0,0,0,0.3),
        0 5px 5px rgba(0,0,0,0.2);
}
.slider i:after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
    background: #d2cbc3; /* Fallback */
    background: linear-gradient(#cbc7bc, #d2cbc3);
    border-radius: inherit;
}
.slider i:before {
    /* content: "off"; */
    content: "mock";
    position: absolute;
    top: 50%;
    right: -50%;
    margin-top: -12px;
    color: #666; /* Fallback */
    color: rgba(0,0,0,0.4);
    font-style: normal;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
}

.switch input:checked + .slider { /* Background */
    background: #9abb82;
}
    
.switch input:checked + .slider i { /* Toggle */
    left: auto;
    right: -1%;
}
    
.switch input:checked + .slider i:before { /* On/off */
    /* content: "on"; */
    content: "api";
    right: 115%;
    color: #d92d24;
    text-shadow: 0 1px 0 #afcb9b, 0 -1px 0 #6b8659;
}
